body{
    font-family:sans-serif;
    padding: 8px;
    background-color:#f5f5f5 ;
}

.finish{
    font-size: 18px;
    margin-bottom: 20px;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.answer-box{
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
}


.answer{
    line-height: 1.6;
}

.result{
    text-align: center;
    margin-top: 12px;
    font-size: 24px;
}

ul{
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    list-style: none;
}

.count{
    margin: 12px;
    font-size: 18px;
}

li{
    padding: 3px;
}

.main{
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}


.sub{
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}


.lever{
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}