body{
    font-family:sans-serif;
    padding: 8px;
    background-color:#f5f5f5 ;
}

.finish{
    display: block;
    text-align: left;
    padding: 8px;
    margin: 12px;
}

h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.AI-image{
    width: 100%;
    text-align: center;
    padding: 10px
}

img{
    margin:20px 0;
}

.answer-box{
    text-align: center;
}

button {
    padding: 12px 14px;
    font-size: 18px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.attention{
    font-size: 12px;
}