<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AIによる倫理観の考察</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='finished.css') }}">


</head>
<body>
    <p class="finish">トロッコ問題終了！！</p>
    <h1>AIによる倫理観の考察</h1>
    <div class="answer-box">
      <p class="answer">{{ai_res}}</p>
    </div>
    <p><strong>解答結果</strong></p>
    <ul>
        {% for res in result %}     {#python構文をHTMLで記述するときには制御分は{% %}で囲って出力は{{}}で囲う#}
          <!--インデックスを取得して繰り返す（1回目からスタートする）-->
          <li>
            <strong>{{loop.index}}問目</strong><br>
            メイン線路：{{res[0] | join(", ")}}<br>   <!--リストを, でつないで1つの文字列にする（pythonで言うところの",".join(res[0])）-->
             サブ線路 ：{{res[1] | join(", ")}}<br>
              レバー  ：{{res[2]}}
          </li>
        {% endfor %}
    </ul>
</body>
</html>

