<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>トロッコ問題～倫理観を考察～</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <h1>トロッコ問題～全１０問～</h1>

  <!--問題文-->
  <p class="question">
    あなたは線路切り替え用レバーの前にいます。<br>
    そのとき！！トロッコが暴走して人がいるメイン線路に突っ込みそうです！！<br>
    目の前のレバーで線路を切り替えればサブ線路にトロッコが突っ込みます。<br>
    あなたはレバーを引きますか？
  </p>

  <!--メイン線路にいる人-->
  <p>
    <label>メイン線路にいる5人</label>
  </p>
  <ul>
    {% for main_person in main_people %}
      <li>{{main_person}}</li>
    {% endfor %}
  </ul>

  <!--サブ線路にいる人-->
  <p>
    <label>サブ線路にいる1人</label>
  </p>
  <ul>
    {% for sub_person in sub_people %}
      <li>{{sub_person}}</li>
    {% endfor %}
  </ul>

<h2>レバーをどうする？</h2>

<!--送信するのは引くor引かないボタンの結果-->
  <div class="thinking-box">
    <form method="POST">
      <p>
        <button type="submit" name="thinking" value="引く">
          引く<br>
          （トロッコはサブ線路へ）
        </button>
      </p>
    </form>

    <form method="POST">
      <p>
        <button type="submit" name="thinking" value="引かない">
          引かない<br>
          （トロッコはメイン線路へ）
        </button>
      </p>
    </form>
    <p class="round_count">
      {{round_count}}問目 / 全10問
    </p>
  </div>

 
  
</body>
</html>


<!--明日の課題-->
<!--cssで要素ごとの装飾だけでなく要素の中でもさらに個別の装飾をする方法-->

