<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport",content="width=device-width,initial-scale=1">
  <title>トロッコ問題～倫理観を考察～</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>トロッコ問題～全１０問～</h1>

</body>

<!--問題文-->
<p>
  あなたはメイン線路とサブ線路を切り替えるレバーの前に立っています。<br>
  そのとき!トロッコが暴走して、5人の人がいるメイン線路に突っ込みそうです!!<br>
  目の前のレバーで線路を切り替えれば1人いるサブ線路にトロッコが突っ込みます!<br>
  線路を切り替えるレバーを引きますか？
</p>

<!--メイン線路にいる人-->
<p>
  <label>メイン線路にいる5人</label>
</p>


<!--サブ線路にいる人-->
<p>
  <label>サブ線路にいる1人</label>
</p>

<!--送信するのは引くor引かないボタンの結果-->
  <form method="POST">

  </form>


</html>


<!--明日の課題-->
<!--pythonの値をHTMLで表示する方法-->
<!--cssで要素ごとの装飾だけでなく要素の中でもさらに個別の装飾をする方法-->

