<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AI考察を選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='waiting.css') }}">
</head>
<body>
  <p class="finish">トロッコ問題終了！！</p>
  <h1>AIによる倫理観の考察を行いますか？</h1>
  <div class="AI-image">
    <img src="{{url_for('static',filename='img/AI.png')}}" alt="AI考察出力アイコン" style="max-width: 80%; height: auto;">
  </div>
  <div class = "answer-box">
    <a href="{{ url_for('finished') }}">
        <button type="button">AIによる考察</button>
    </a>
  </div>  
  <p class="attention">
    ※AI考察が開始されますが時間（数秒～十数秒）かかります。<br>
      最新モデル(o4-mini)を使用しています
  </p>


</body>

</html>